<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }


        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1','2', '3']">
                <el-submenu index="1">
                    <template slot="title"><i class="el-icon-message"></i>场地预约</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1"  @click="goUrl('book.html')"  active-text-color>场地预约</el-menu-item>
                        <el-menu-item index="1-1"  @click="goUrl('bookcoach.html')"  active-text-color>教练预约</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>取消预约</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="goUrl('cancel.html')">取消场地预约</el-menu-item>
                        <el-menu-item index="2-2" @click="goUrl('cancelcoach.html')">取消教练预约</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title"><i class="el-icon-setting"></i>修改个人信息</template>
                    <el-menu-item-group>
                        <template slot="title">修改</template>
                        <el-menu-item index="3-1" @click="goUrl('update.html')">基本信息</el-menu-item>
                        <el-menu-item index="3-2" @click="goUrl('updatepassword.html')">修改密码</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title"><i class="el-icon-setting"></i>BMI测试</template>
                    <el-menu-item-group>
                        <template slot="title">BMI</template>
                        <el-menu-item index="4-1" @click="goUrl('BMI.html')">BMI测试</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title"><i class="el-icon-setting"></i>支付</template>
                    <el-menu-item-group>
                        <template slot="title">支付</template>
                        <el-menu-item index="5-1" @click="goUrl('weixin.html')">微信支付</el-menu-item>
                        <el-menu-item index="5-2" @click="goUrl('zhifubao.html')">支付宝支付</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>


        <el-container>

            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item ><el-button @click="rua">退出</el-button></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{form.name}}</span>
            </el-header>
            <el-main>

                <el-form model="form" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="姓名">
                        <el-input
                                type="text"
                                placeholder="请输入内容"
                                v-model="form.name"
                                maxlength="10"
                                show-word-limit
                        >
                            {{form.name}}
                        </el-input>
                    </el-form-item>
                    <el-form-item label="年龄">
                        <el-input
                                type="text"
                                placeholder="请输入内容"
                                v-model="form.age"
                                maxlength="10"
                                show-word-limit
                        >
                            {{form.age}}
                        </el-input>
                    </el-form-item>

                    <el-form-item label="性别">
                        <template>
                            <el-radio v-model="form.sex" label="男" value="男">男</el-radio>
                            <el-radio v-model="form.sex" label="女" value="女">女</el-radio>
                        </template>
                    </el-form-item>
                    <el-form-item>
                        <el-row>
                            <el-button type="primary" @click="update">确认修改</el-button>
                        </el-row>
                    </el-form-item>
                </el-form>

            </el-main>
        </el-container>
    </el-container>
</div>
<script src="js/vue.js"></script>
<!--<link rel="stylesheet" href="css/element-ui.css">-->
<!--<script src="js/element-ui.js"></script>-->
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/axios.js"></script>
<script>
    new Vue({
        el: "#app",
        mounted() {
            this.getCookie();
            var _this = this;
            axios({
                method: "post",
                url: "http://localhost:81/Update/select",
                data: _this.form.num
            }).then(function (resp) {
                _this.form.name = resp.data.name;
                _this.form.age = resp.data.age;
                _this.form.sex = resp.data.sex;
            })
        },
        methods: {
            getCookie(){
                var _this=this;
                axios({
                    method:"get",
                    url:"http://localhost:81/Update/getCookie"
                }).then(function(resp){
                    _this.form.name=resp.data.name;
                    _this.form.sex=resp.data.sex ;
                    _this.form.age=resp.data.age ;
                    _this.form.num=resp.data.num ;
                    _this.form.status=resp.data.status;
                })
            },
            rua(){
                window.open("login.html","_self")
            },
            goUrl(url) {
                window.open(url, "_self")
            },
            update() {
                var _this = this;
                axios({
                    method: "put",
                    url: "http://localhost:81/Update/updateovo",
                    data: _this.form
                }).then(function (resp) {
                    if (resp.data = "success") {
                        _this.$message({
                            message: '恭喜你，修改成功',
                            type: 'success'
                        });
                    }
                })
            },
        },
        data() {
            return {
                form: {
                    name: '',
                    age: '',
                    sex: '',
                    status: 1,
                    num: '',
                },
                //cookie
                cookie:{
                    id  :'',
                    name:'',
                    sex :'',
                    age :'',
                    num :'',
                }
            }
        }
    })
</script>
</body>
</html>